<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088133633513-igf5vd47deka18956j9df99lcij38m0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088133633513-igf5vd47deka18956j9df99lcij38m0c</string>
	<key>API_KEY</key>
	<string>AIzaSyCnn-fywZfWKIgMTiQRrWva2iKK3myGSqU</string>
	<key>GCM_SENDER_ID</key>
	<string>1088133633513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jayNoonan.WhatToWatch</string>
	<key>PROJECT_ID</key>
	<string>whattowatch-a42a3</string>
	<key>STORAGE_BUCKET</key>
	<string>whattowatch-a42a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088133633513:ios:f466971d80104994c52778</string>
</dict>
</plist>